{% extends 'layout.html' %}
{% load static %}
{% block title %}Müqayisə Edin{% endblock %}
{% block body %}
    <div class="filterwrap">
        {% for car in compare_posts %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix carbox" style="margin-bottom: 500px">
                <div class="carimg">
                    <img class="imgcar"
                            {% for p in photos %}
                                {% if p.post == car %}
                         src="{{ p.image.url }}"
                                {% endif %}
                            {% endfor %}
                         alt="">
                    <div class="displaybox">
                        <div class="imgboxes">
                            <div class="imgbox" title="Ətraflı">
                                <div class="iconbox">
                                    <a href="{% url 'car:detail' car.id %}"><i class="fas fa-info"></i></a>
                                </div>
                            </div>
                            <div class="imgbox" title="Seçdiklərinizə əlavə edin">
                                <a href="{% url 'car:favourite_post' car.id %}"> <i
                                        class="far fa-heart"></i></a></div>
                            <div class="imgbox" title="Müqayisə et">
                                <a href="{% url 'car:compare_post' car.id %}"><img class="imgicon"
                                                                                   src="{% static 'img/media/two-cars-in-line.png' %}"
                                                                                   alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cartext">
                    <div class="cartextinner">
                        <div id="year">{{ car.year }}</div>
                        <h5>{{ car.brand }} | {{ car.model }}</h5>
                        <ul class="carinfo">
                            <li><span>{{ car.milage }}</span> km</li>
                            <li>{{ car.transmission }}</li>
                            <li><span>{{ car.power }}</span> a.g</li>
                        </ul>
                    </div>
                </div>
                <div class="carsale">
                    <span class="cardetail">Ətraflı</span>
                    <h6 id="price">{{ car.price }} {{ car.currencie }}</h6>
                </div>
            </div>
        {% empty %}
            <div class="compare-empty">
                <div class="empty-text">
                    <img src="{% static 'img/media/Comparetemp.png' %}" alt="" style="width: 150px" height="100px">
                    <p> Müqayisə etmək istədiyiniz elanın üzərində "Müqayisə et" düyməsinə klikləyərək müqayisə üçün
                        əlavə edin</p>
                    <a class="btn btn-info" href="/"> <span>Maşın axtarışı</span> </a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}