{% extends 'layout.html' %}
{% load static %}
{% block title %}Şəhər{% endblock %}
{% block body %}
    <div class="filterwrap">
        {% for car in post %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix carbox">
                <div class="carimg">
                    <img class="imgcar"
                            {% for p in photos %}
                                {% if p.post == car %}
                         src="{{ p.image.url }}"
                                {% endif %}
                            {% endfor %}
                         alt="">
                    <div class="displaybox">
                        <div class="imgboxes">
                            <div class="imgbox" title="Ətraflı">
                                <div class="iconbox">
                                    <a href="{% url 'car:detail' car.id %}"><i class="fas fa-info"></i></a>
                                </div>
                            </div>
                            <div class="imgbox" title="Elanınızı yeniləyin">
                                <div class="iconbox">
                                    <a href="{% url 'car:update_announcement' car.id %}">
                                        <i style="color: #31db31" class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="imgbox" title="Silin">
                                <div class="iconbox">
                                    <a href="{% url 'car:delete_announcement' car.id%}">
                                        <i style="color: red" class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cartext">
                    <div class="cartextinner">
                        <div id="year">{{ car.year }}</div>
                        <h5>{{ car.brand }} | {{ car.model }}</h5>
                        <ul class="carinfo">
                            <li><span>{{ car.milage }}</span> km</li>
                            <li>{{ car.transmission }}</li>
                            <li><span>{{ car.power }}</span> a.g</li>
                        </ul>
                    </div>
                </div>
                <div class="carsale">
                    <span class="cardetail">Ətraflı</span>
                    <h6 id="price">{{ car.price }} {{ car.currencie }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}